.wholePage {
    background-color: linen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  div {
    padding: 5px 10px;
    background-color: mistyrose;
    /* border-style: dotted;
    border-color: black; */
  }
  
  button {
    background-color:linen;
    border-color:mistyrose; 
    border-radius:0px;
    padding: 5px, 5px;
  }
  button:hover {
    background-color: rgb(200, 159, 168);
    transition-duration: 0.1s;
  }
  
  .illuminae {
    width: 50%;
    border: rgb(199, 68, 58) 4px double;
    border-width: 10px;
    border-radius: 15px;
  }
  .gemini {
    width: 50%;
    border: rgb(26, 106, 163) 4px double;
    border-width: 10px;
    border-radius: 15px;
  }
  
  /* translate icon */
  .material-symbols-outlined {
    align-content: flex-end;
    width: 100%;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48,
  }
  
  .bigTitle { 
      background-color: rgb(253, 176, 179);
      
      }
  .bigTitleUpper {
      background-color: rgb(253, 176, 179);
      display: flex;
      justify-content: space-between;
      font-family: 'Rampart One', cursive;
      font-size: 30px;
  }
  .profilePicture {
    width: 200px;
    
  }
  .mainSect {
    display: flex;
  }
  .sidebar {
    border-style:solid;
    border-color:cornsilk;
  }
  .general {
      background-color:cornsilk;

  }
  .school {
      background-color:cornsilk;
  }
  .subjects {
      display: flex;
      flex-wrap: wrap;
      justify-content:space-around;
  }
  .subjectDesc {
    background-color:cornsilk;
    border-style:solid;
    border-width:0px 10px 20px 10px;
    border-color:mistyrose;
  
  }
  
  .hobbies {
    display: flex;
  }
  .videos {
    width: 40%;
  }
  .books {
    width: 60%;
  }
  